.left-side {
    border: solid black 1px;
    height: 100%;
    flex: 1;
    gap: 1rem;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding-left: 3rem;
}

.left-side h2 {
    margin-bottom: 0.1rem;
    /* margin-top: 0rem; */
    padding: 0px;
}

.left-side h3 {
    margin-bottom: 0.1rem;
    /* margin-top: 0rem; */
    padding: 0px;
}

.left-side > div {
    /* flex: 1; */
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: baseline;
}

.left-side > div:last-child {
    padding-bottom: 1.5rem;
}


.left-side  input {
    /* margin-left: 0.2rem; */
}

.left-side  label {
    text-align: left;
}