.right-side {
    border: solid black 1px;
    height: 100%;
    flex: 1;
    gap: 1rem;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding-left: 3rem;
    text-align: left;
}
.right-side button {
    width: 20%;
    align-self: end;
    margin-right: 2rem;
    border: 1px solid black;
}

.right-side h2 {
text-align: center;
padding-right: 0.2rem;
}