.right-side {
    border: solid black 1px;
    height: 100%;
    flex: 1;
    gap: 1rem;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding-left: 3rem;
    text-align: left;
}